.container {
	background-color: blue;
	height: 50px;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
li {	
	padding-left: 25%;
	padding-right: 25%;	
	padding-top: 15px;
}

li > ul {
	display: inline;
	padding-left: 40px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: grey;
}