<!--<ng-container *ngIf="isLoading; else loadingFinish">
    <div class="mat-spinner-container">
        <mat-spinner class="mat-spinner" mode="indeterminate"></mat-spinner>        
    </div>
</ng-container>-->

<ng-container *appLoading="isLoading">	
	<div class="container">

		<mat-grid-list cols="4" rowHeight="350px">
			<mat-grid-tile *ngFor="let product of products; trackBy: trackByProducts" [colspan]="1" >				
				<mat-card class="simple-cards" >
					
					<img mat-card-image src="{{ product.img }}" alt="...">

					<mat-card-header>
						<mat-card-title>
							{{ product.name }} - {{ product.price }}$
						</mat-card-title>
					</mat-card-header>

					<mat-card-content>
						<p>{{ product.description }}</p>
					</mat-card-content>
					
					<mat-card-actions>
						<a [routerLink]="['/products', product.id]">More</a>
					</mat-card-actions>

				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
			
	</div> 
</ng-container>
